/* .btn-outline-danger{
    color: aliceblue;
    background-color: rgba(255,0,255,1) !important;
    border: 2px solid rgba(0,255,255,1) !important
}
.btn-outline-danger:hover{
    box-shadow: -2px 2px 1px rgba(0,255,255,1), 2px -2px 1px rgba(255,0,255,1) !important;
    color: rgb(46, 46, 46);
    background-color: aliceblue !important;
}
.btn:disabled{
    color: #2e2e2e !important;
    border: 2px solid rgba(0,255,255,1) !important;
    background-color: aliceblue !important;
} */